Repository petrmac/flux-demo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release, build-node, test-node, build-docker-node, generate-sbom-node

Path conditions:
  build-java: any of: java-service/**, .gitlab-ci.yml
  test-java: any of: java-service/**, .gitlab-ci.yml
  determine-version: any of: java-service/**, .gitlab-ci.yml
  build-docker: any of: java-service/**, .gitlab-ci.yml
  generate-sbom: any of: java-service/**, .gitlab-ci.yml
  check-release: any of: java-service/**, .gitlab-ci.yml
  create-release: any of: java-service/**, .gitlab-ci.yml
  build-node: any of: node-service/**, .gitlab-ci.yml
  test-node: any of: node-service/**, .gitlab-ci.yml
  build-docker-node: any of: node-service/**, .gitlab-ci.yml
  generate-sbom-node: any of: node-service/**, .gitlab-ci.yml

api/backend image in MINIKUBE environment automatically updated by Flux
  flux/apps/demo-service/minikube/kustomization.yaml
Due: none

Updated CI workflows to work with semver in node-service
  .github/workflows/node-service.yaml
  .gitlab-ci.yml
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release, build-node, test-node, build-docker-node, generate-sbom-node

Updated deployment
  flux/apps/node-service/base/deployment.yaml
  node-service/version.json
Due: build-node, test-node, build-docker-node, generate-sbom-node

Updated CI for other architectures
  .github/workflows/build-java.yml
  .github/workflows/node-service.yaml
  .gitlab-ci.yml
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release, build-node, test-node, build-docker-node, generate-sbom-node

Updated call params
  README.md
  node-service/src/greeting/greeting.service.ts
  node-service/version.json
Due: build-node, test-node, build-docker-node, generate-sbom-node

node-service image in MINIKUBE environment automatically updated by Flux
  flux/apps/node-service/minikube/kustomization.yaml
Due: none

Added postgres
  README.md
  flux/clusters/minikube/kustomization.yaml
  flux/clusters/minikube/postgres.yaml
  flux/infrastructure/postgres/base/kustomization.yaml
  flux/infrastructure/postgres/base/namespace.yaml
  flux/infrastructure/postgres/base/service.yaml
  flux/infrastructure/postgres/minikube/kustomization.yaml
  flux/infrastructure/postgres/minikube/postgres-credendials.yaml
  flux/infrastructure/postgres/minikube/postgres-statefulset.yaml
Due: none

fixed path
  flux/clusters/minikube/postgres.yaml
  flux/clusters/minikube/reflector.yaml
Due: none

Added missing namespace
  flux/infrastructure/ember/base/kustomization.yaml
  flux/infrastructure/ember/base/namespace.yaml
Due: none

Added liquibase and db usage
  flux/apps/demo-service/base/deployment.yaml
  flux/apps/demo-service/minikube/configmap.yaml
  java-service/build.gradle.kts
  java-service/src/main/java/com/example/demo/controller/DemoController.java
  java-service/src/main/java/com/example/demo/dto/AuditStatsDto.java
  java-service/src/main/java/com/example/demo/entity/GreetingAudit.java
  java-service/src/main/java/com/example/demo/repository/GreetingAuditRepository.java
  java-service/src/main/java/com/example/demo/service/AuditService.java
  java-service/src/main/java/com/example/demo/service/impl/AuditServiceImpl.java
  java-service/src/main/resources/application.yaml
  java-service/src/main/resources/db/changelog/changes/001-create-greeting-audit-table.yaml
  java-service/src/main/resources/db/changelog/changes/002-add-sample-data.yaml
  java-service/src/main/resources/db/changelog/db.changelog-master.yaml
  java-service/src/test/groovy/com/example/demo/controller/DemoControllerSpec.groovy
  java-service/src/test/groovy/com/example/demo/integration/AuditServiceIntegrationSpec.groovy
  java-service/src/test/groovy/com/example/demo/service/AuditServiceSpec.groovy
  java-service/src/test/resources/application-test.yaml
  java-service/version.properties
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release

Changed DB config
  flux/apps/demo-service/minikube/configmap.yaml
  java-service/src/main/resources/application.yaml
Due: none

Changed DB config
  flux/apps/demo-service/minikube/configmap.yaml
  flux/apps/demo-service/minikube/secret.enc.yaml
  java-service/src/main/resources/application.yaml
Due: none

Fixed lib
  java-service/build.gradle.kts
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release

Bumped version
  java-service/version.properties
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release

Updated gitlab
  .gitlab-ci.yml
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release, build-node, test-node, build-docker-node, generate-sbom-node

Updated gitlab and readme
  .gitlab-ci.yml
  README.md
  docs/terraform-flux-example.md
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release, build-node, test-node, build-docker-node, generate-sbom-node

Updated gitlab and readme
  .gitlab-ci.yml
  README.md
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release, build-node, test-node, build-docker-node, generate-sbom-node

Fixed version handling in node
  .github/workflows/node-service.yaml
  .gitlab-ci.yml
  node-service/package.json
  node-service/version.json
Due: build-java, test-java, determine-version, build-docker, generate-sbom, check-release, create-release, build-node, test-node, build-docker-node, generate-sbom-node

Updated readme
  README.md
Due: none
